.SideMenuContainer{
    height: 100%;
    width: 200px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}
.buttonForMenuConfig{
    width: 70px;
    height: 70px;
}
.LogoIcoSideMenu{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(243, 244, 246);
    background-image: url('../../../assets/img/icoLogo.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    /*border: 4px solid white;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: auto;
    margin-bottom: 1vh;
}
.stickHomeMenu{
    transform: translate(120px, -678px);
    -webkit-transform: translate(120px, -678px);
    -moz-transform: translate(120px, -678px);
    -ms-transform: translate(120px, -678px);
    -o-transform: translate(120px, -678px);
}
.verticalStickMenu{
    height: 250px;
    width: 4px;
    transform: translate(20px, -50px);
    -webkit-transform: translate(20px, -50px);
    -moz-transform: translate(20px, -50px);
    -ms-transform: translate(20px, -50px);
    -o-transform: translate(20px, -50px);
}
.diagonalStickMenu{
    height: 100px;
    width: 4px;
    transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
}