.porpertyFormContainer {
  width: 38.5vw;
}
.propertyInfoArea {
  min-width: 20vw;
  max-width: 36.5vw;
  height: 20vh;
}
#checkboxId {
    height: 20px;
    width: 20px;
    transform: translateY(5px);
}
#checkboxLeft {
    height: 20px;
    width: 20px;
    transform: translateY(5px);
}
#checkboxRight {
    height: 20px;
    width: 20px;
    transform: translateY(5px);
}
#gpsCoordTextId{
}